<div class="container-fluid projects">
    <div class="row">
     <div class="project-heading ">
      <div class="projects-about mt-5">
        <h1>Projects</h1>
        <p class="bold-text">Here are some of the projects I have worked on. Click on the images to view the project.</p>
      </div>
     </div>
      <div class=" img-carousel col-lg-8 container position-relative  ">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner image">
            <div class="carousel-item active">
              <img src="../assets/img/amazon.png" class="d-block w-100 " alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>E-commerce website</h5>
                <p>Responsive E-Commerce Website using HTML ,CSS  </p>
                   <a href="https://pranavkumardubey.github.io/E-comerce-website/">View Project</a>
               
              </div>
            </div>
            <div class="carousel-item  image">
              <img src="../assets/img/foodweb.png" class="d-block w-100 " alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Food website </h5>
                <p>Responsive Food Website using HTML ,CSS and Bootstrap</p>
                <a href="https://pranavkumardubey.github.io/Food-Website/">View Project</a>
              </div>
            </div>
            <div class="carousel-item image">
              <img src="../assets/img/newapp.png" class="d-block w-100 " alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>News App</h5>
                <p>News App using HTML ,CSS ,Java Script and News Api</p>
                <a href="https://pranavkumardubey.github.io/News-App/">View Project</a>
              </div>
            </div>
          <div class="carousel-item image">
              <img src="../assets/img/form-validation.png" class="d-block w-100 " alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Simple Form</h5>
                <p>A Simple Form Validation using HTML ,CSS , Java Script</p>
                <a href="https://pranavkumardubey.github.io/Form-validation-using-javascript/">View Project</a>
              </div>
            </div>
            <div class="carousel-item image">
              <img src="../assets/img/weatherapp.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Weather App </h5>
                <p>Real time Weather App using HTML, CSS, Java Script and Weather Api</p>
                <a href="https://pranavkumardubey.github.io/Weather-App/">View Project</a>
              </div>
            </div>
          </div>
          <button class="custom-prev-btn" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button class="custom-next-btn" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>