
<section class = "contact container">
    <h1 class="title">
        <span>Get In Touch</span>
    </h1>
    <div class = "row">
      <div class = "col-left">
        <h2>feel free to ask me!</h2>
        <p class = "text">Feel free to reach out for job opportunities, or just to say hi! I'm always excited to connect with like-minded professional </p>

        <div class = "contact-info">
          <span><i class = "fas fa-envelope-open"></i></span>
          <h3>
            <span class = "text">mail me</span> <br>
            pranavd709&#64;gmail.com
          </h3>
        </div>

        <div class = "contact-info">
          <span><i class = "fas fa-phone-square-alt"></i></span>
          <h3>
            <span class = "text">call me</span> <br>
            +91 8299540743
          </h3>
        </div>

        <div class = "contact-social-links">
          <a href = "www.linkedin.com/in/pranav-kumar-dubey-79215734a">
            <i class = "fa-brands fa-linkedin"></i>
          </a>
          <a href = "https://github.com/PranavKumarDubey">
            <i class = "fab fa-github"></i>
          </a>
        </div>
      </div>

      <div class = "col-right">
        <form class = "contact-form">
          <div class = "form-group">
            <input type = "text" placeholder="your name">
            <input type = "email" placeholder="your email">
            <input type = "text" placeholder="your subject">
          </div>
          <textarea rows = "5"></textarea>
          <button type = "submit" class = "btn">send message</button>
        </form>
      </div>
    </div>
  </section>