
<!-- Hero Section with Background -->
<div class="hero-section">
    <header id="home" class="header">
        <div class="header-content container">
            <div class="header-title ">
               <h1 class="up">HI! <h2 class="down"> I'm <span > Pranav Dubey</span> </h2></h1>
            </div>
            <h2 data-text="FRONTEND WEB DEVELOPER"  class="header-subtitle">FRONTEND WEB DEVELOPER</h2>
            <button class="btn" (click)="navigateToProjetc()">VISIT MY WORKS</button>
        </div>
       <div class="img-container">
        <div class="image-content">
            <img src="/assets/img/home-right.png" alt="" class="img-fluid">
        </div>
       </div>
    </header>
</div>
